.section {
    padding-top: 94px 0;
}

.benefits {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    margin-right: 30px;

    &:last-child{
        margin-right: 0;
    }
}


.benefits__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.benefits__text {
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}


.benefits__box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $title-bc-color;
}