/* Кнопки */


.button {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:768px){
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
}

.button__type {
    margin-right: 8px;
    margin-bottom: 15px;


    &:last-child{
        margin-right: 0;
        }

    &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        @media screen and (min-width:768px) {
            margin-bottom: 0px;
        }
}


.button__list {
    border: transparent;
    border-radius: 4px;
    cursor: pointer;

    padding: 6px 22px 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color: $title-bc-color;

    transition: color 250ms $timing-function,
        background-color 250ms $timing-function,
        box-shadow 250ms $timing-function;

        &:hover,
        &:focus{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: 0.03em;

            background-color: $accent-color;
            color: $title-text-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }

}
