
.clientage {
    display: flex;
    flex-wrap: wrap;
    // margin: -15px;
}

.clientage__item {
    // margin-right: 30px;

    @media screen and (min-width:480px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
}

.clientage__link {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;
    width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    fill: $primary-icon-color;
    transition: fill 250ms $timing-function,
        border 250ms $timing-function;

        &:hover,
        &:focus{
            border: 1px solid $accent-color;
            fill: $accent-color;
            } 

}
