
.clientage {
    display: flex;
}

.clientage__item {
    margin-right: 30px;
}

.clientage__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;
    width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    fill: $primary-icon-color;
    transition: fill 250ms $timing-function,
        border 250ms $timing-function;

        &:hover,
        &:focus{
            border: 1px solid $accent-color;
            fill: $accent-color;
            } 

}
