.footer {
    
    padding: 60px 0;
    background-color: $primaty-bc-color;

    @media screen and (max-width:1199px){
        text-align: center;
    }
}

/* footer-colum */
.footer-colum {
display: block;

@media screen and(min-width:1200px) {
    display: flex;
    align-items: baseline;

}

}

.footer-wrapper {
    margin-bottom: 60px;


    @media screen and(min-width:768px) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 60px;

    }

    @media screen and(min-width:1200px) {
        margin-right: 93px;
        margin-bottom: 0;
    
    }
}

.footer-colum-list {
@media screen and(max-width:767px) {
    
    margin-bottom: 60px;
}

@media screen and(min-width:1200px) {
        margin-right: 60px;
        margin-bottom: 0;
        }
    

}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.footer__secondary {
    color: $primary-header-color;
}

.footer-place__list {
    margin-bottom: 9px;

    &:last-child{
        margin-bottom: 0;
    }
}


.footer-place__map {
    display: inline-block;
  
    font-style: normal;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: $title-text-color;
}

.footer-place__mail,
.footer-place__phone {
    display: inline-block;
    font-style: normal;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


// /* footer-icon */

// // .footer-icon{
// //     margin-bottom: 60px;

// // @media screen and(min-width:1200px) {
// //     margin-right: 93px;
// //     margin-bottom: 0;

// // }

// }

.footer-icon__title {
    color: $title-text-color;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-media {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    // margin-right: 93px;
}


.footer-media__catalog {
    margin-right: 10px;
    
    &:last-child{
        margin-right: 0;
    }
}

.footer-media__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $title-text-color;
    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus{
        background-color: $accent-color;
    }
}




/* fotter-chek */

.footer-label {
    position: relative;

}

.footer-label__form {
    display: block;

    @media screen and (min-width:1200px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer-label__email {
    margin-right: 12px;

}

.footer-label__text {
    margin-bottom: 20px;
    padding: 15px 16px 15px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    outline: transparent;
    background-color: $primaty-bc-color;
    border: 1px solid rgba(255, 255, 255, 0.3);

    @media screen and(max-width:479px){
        width: 100%;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }


}

.footer-label__text::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    
}

.button-ft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-button-ft {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    padding: 10px 0 10px 0;
    border: transparent;
    cursor: pointer;
    border-radius: 4px;
   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    background-color: $accent-color;
    color: $title-text-color;
}

.hero-button-ft__icon {
    display: inline-block;
    margin-left: 10px;

    width: 24px;
    height: 24px;

    fill: $title-bc-color;

}