.header {
    background-color: $primary-header-color;
    color: $primary-text-color;
    border-bottom: 1px solid #ececec;

    &__container {
        
        justify-content: space-between;
        align-items: center;
    }


    
    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
}


.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $accent-color;
    text-decoration: none;
}

.logo__studio {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}



.navigation {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;

    @media screen and (max-width: 767px){
        display: none;
    }

    list-style: none;
    padding: 0;
    margin: 0;

    font-weight: 500;
    letter-spacing: 0.02em;
    margin-left: 93px;
    font-style: 400;
}

.site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    text-decoration: none;
    transition: color 250ms $timing-function;

    &--active {
        color: $accent-color;

        &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: -1px;
            left: 0;

            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $accent-color;
        }
    }
&:hover,
&:focus {
    color: $accent-color;
}
}


.site-nav__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }



}






/* icon */
.contact {
    
    display: flex;
    flex-direction:column ;
    margin-left: auto;
    letter-spacing: 0.02em;
    font-weight: 500;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        flex-direction:row;
    }
    
}


.contact__icon {
    align-items: center;
    margin-right: 10px;
    fill: currentColor;

}

.contact__link {
    display: flex;
    align-items: center;

    text-decoration: none;
    transition: color 250ms $timing-function;
    color: $secondary-text-color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}


.contact__item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }

    @media screen and (min-width: 1200px){
        margin-right: 30px;
        margin-bottom: 0;
    }
}


.header__container {
    display: flex;
    align-items: center;
}


/* modile-window */

.mobile-header__button {

    width: 40px;
    height: 40px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.mobile-header__close {
    display: none;

    .mobile-header__button.is-active & {
        display: block;
    }
}

.mobile-header__open {
    .mobile-header__close.is-active & {
        display: none;
    }
}

