/* Hero */

.hero {
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));
    


    background-image: url(../images/WebStudio/hero/bg-hero_s.png);
    @include mq (retina) {
        background-image: url(../images/WebStudio/hero/bg-hero_s@2x.png);
    }

    @include mq(tablet){
        background-image: url(../images/WebStudio/hero/bg-hero_m.png);

        @include mq (retina) {
            background-image: url(../images/WebStudio/hero/bg-hero_m@2x.png);
        }
    }  
    
    @include mq(desktop) {
        background-image: url(../images/WebStudio/hero/bg-hero_l.png);
    
        @include mq (retina) {
            background-image: url(../images/WebStudio/hero/bg-hero_l@2x.png);
        }
    }






    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }


}
.hero__title {
    margin-bottom: 30px;
    margin-right: 0;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-text-color;




    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
}
}

.hero__button {
    width: 200px;
    padding: 10px 32px 10px 31px;
    border: transparent;
    cursor: pointer;
    border-radius: 4px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    background-color: $accent-color;
    color: $title-text-color;

    @media screen and (max-width: 479px) {
        padding: 10px 25px 10px 25px;
        font-size: 14px;
        line-height: 1.87;
    }
}