/* Шрифт */
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway",sans-serif;
/* Цвет текста  */
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$title-text-color: #ffffff;
/* Цвет фона */
$primary-header-color: #ffffff;
$primaty-bc-color: #2f303a;
$title-bc-color: #f5f4fa;
$animation-bc-color: rgba(47, 48, 58, 0.8);
/* Цвет Значка */
$primary-icon-color: #afb1b8;
/* Анимация */
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

body {
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    &.modal-open{
        overflow: hidden;
    }
}

.section {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.section__title {
    font-family: $main-font;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin-bottom: 50;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width:1199px){
        margin-bottom: 30px;
        font-size: 28px;
    }
}

h1,
h2,
h3,
p {
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.checkbox {
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    position: absolute;
}

.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    

    @media screen and (min-width: 768px) {
        max-width: 768px; 
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}